/* InfoModal.css */
.modal-container {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
}

.modal-content {
  background-color: var(--background-color);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  max-width: 600px;
  width: 90%;
  outline: none;
  animation: fadeIn 0.3s ease;
}

.modal-body {
  padding: 20px 0;
}

.pseudocode-controls {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-20px); }
  to { opacity: 1; transform: translateY(0); }
}

/* Pseudocode.css */
.pseudocode {
  background-color: #f7f7f7;
  padding: 10px;
  border-radius: 5px;
}

.pseudocode h3 {
  margin-bottom: 10px;
  color: var(--accent-color);
}

.pseudocode-line {
  display: flex;
  align-items: baseline;
}

.line-number {
  width: 30px;
  text-align: right;
  margin-right: 10px;
  color: #999;
}

.highlight {
  background-color: rgba(255, 255, 0, 0.2); /* Light yellow highlight */
}
